body {
  font-family: 'Bakbak One', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  overflow-y: scroll;
}

header {
  position: sticky;
  top: 0;
  background-color: #3498db;
  color: white;
  padding: 10px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

iframe {
  position: absolute;
  top: 57px;
  left: 0;
  width: 100%;
  height: calc(100vh - 55px);
  border: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 5px 20px;
}

.game-card {
  width: 320px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  transition: transform 0.3s ease;
}

.game-card:hover {
  transform: translateY(-5px);
}

.game-card img {
  width: 120px;
  height: auto;
  margin-right: 20px;
  border-radius: 10px;
}

.game-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-info h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.game-info button {
  background-color: orange;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.game-info button:hover {
  background-color: darkorange;
}

.header-right button {
  background-color: #FFA500;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.header-right button:hover {
  background-color: #FF4500;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.modal:hover .modal-content {
  transform: scale(1.1);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#links-container {
  list-style-type: disc;
  padding-left: 20px;
}

#links-container a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
}

#search-input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

#search-input:focus {
  outline: none;
  border-color: #3498db;
}
