/* Main page styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2; /* Light gray background color */
  overflow-y: scroll; /* Add vertical scroll bar */
}

header {
  position: sticky;
  top: 0;
  background-color: #3498db; /* Blue color */
  color: white; /* White text */
  padding: 10px; /* Adjusted padding */
  height: 40px; /* Adjusted height */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100; /* Ensure the header stays on top of other elements */
}

iframe {
  position: absolute;
  top: 57px; /* Adjusted position to sit 5 pixels below the header */
  left: 0;
  width: 100%;
  height: calc(100vh - 55px); /* Adjusted height to fill remaining space below the header */
  border: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 5px 20px; /* Reduced top and bottom padding */
}

.game-card {
  width: 320px; /* Increased width */
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px; /* Increased border radius */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
}

.game-card img {
  width: 120px;
  height: auto;
  margin-right: 20px;
  border-radius: 10px;
}

.game-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-info h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.game-info button {
  background-color: orange;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.game-info button:hover {
  background-color: darkorange;
}

.header-right button {
  background-color: #FFA500;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.header-right button:hover {
  background-color: #FF4500;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* List styles */
#links-container {
  list-style-type: disc;
  padding-left: 20px;
}

#links-container a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
}

#search-input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 0 0 5px 5px; /* Top corners not rounded */
  box-sizing: border-box;
  background-color: #f9f9f9; /* Light gray background */
  transition: border-color 0.3s ease; /* Smooth transition for border color */
}

#search-input:focus {
  outline: none; /* Remove default focus outline */
  border-color: #3498db; /* Change border color on focus */
}
